  .wrapper{
    padding:0px;
    margin:0px;
  }
  .donor{
    width: auto;
    height:auto;
    background-color: whitesmoke;
    justify-content: center;
    flex-direction: column;
    align-items:inherit;
    display: flex;    
    
}

.data{
  
  opacity: 1.5;
  width:"auto";
  height:"auto";
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.heading_details{
  font-size: 30px;
     color: black;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,;
     margin-top:3%;
}



.footer{
  background: white;
  height:50px;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
 
}




  .data{
    
    width:"auto";
    height:"auto";
     text-align:"center";
     margin-top: 10%;
     flex:none;
     padding: 40px;
     display:flex;
       flex-direction: column;
       align-items: center;
  }
  .workflow{
    width: auto;
    height:auto;
    background-color: #fcfcfc;
    justify-content: center;
    flex-direction: column;
    display: flex;
  }
  .detail{
    width:"auto";
    height:"auto";
     text-align:"center";
     margin-top: 10%;
     flex:none;
     padding: 30px;
     display:flex;
       flex-direction: column;
       align-items: center;

  }
  .power{
    width: auto;
    height:auto;

    background-color: whitesmoke;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
 

  }
  .btn-faq{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;

  }
 
  @media screen and (min-width: 280px) and (max-width: 1280px){

    .donor{
      width: auto;
      height:auto;
      background-color: whitesmoke;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      display: flex;
     
      
    
      
  }
  .power{
    width: auto;
    height:auto;
    background-color: whitesmoke;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding:5%;

  }
  .heading_details{
    font-size: 20px;
       color: black;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,;
       margin-top:5%;
  }
  .btn-faq{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: yellowgreen;
    margin-left:"0px"

  }
  
  .footer{
    background: white;
    height:50px;
    display: flex;
    flex-direction: row;
   
    
   

  }


   
}



 
 