.wrapper{
    padding:0px;
    margin:0px;
       background-color: white;
        height:fit-content;
      
  

}
.mycard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
}
.card auth-card input-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;

}
h4{
    margin-left: 25%;

}
button{
    margin-left: 35%;
}